
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
  <link rel="stylesheet" href="..\static\css\dashboard.css">
  <title>Dashboard</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
           
            <li><a href="add.html" data-after="Add Expense">Add Expense</a></li>
          
            
            <li><a href="limit.html" data-after="Limit">Limit</a></li>
            <LI><a href="display.html" data-after="History">History</a></LI>
            <li><a href="report.html" data-after="Limit">Report</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>Lets Begin<span></span></h1>
        
        
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

        



</body>

</html>