<html>
<body>

<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Report
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
<a class="dropdown-item" href="today.html">TODAY</a>
<a class="dropdown-item" href="month.html">Month</a>

<a class="dropdown-item" href="year.html">Year</a>
</div>
<div  style="position: relative; left: 500px; top: -100px;" class="imagge">
<img width="65%" height="80%" src="../static/images/addd.jpg" class="rounded float-left" alt="...">
</div>
</body>
</html>